.menu__list {
    display: flex;
    align-items: center;
    margin-left: 500px;
}
li {
    padding: 10px 20px;
    margin-right: 55px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
}

li:hover {
    background-color:var(--mui-palette-secondary-main);
    a {
        color: var(--mui-palette-text-primary);
    }
}
