.reel {
    width: 30%;
    height: 260px;
    background-color: var(--mui-palette-primary-main);
    overflow: hidden;
}
.reel__tape {
transition: none;
}
.reel__item {
    width: 70%; 
    height: 100px !important;
    margin: auto;
    font-size: 70px;
}
@keyframes infiniteSpin {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-500px);
    }
}

.reel__tape.spinning {
    transition: transform 4s cubic-bezier(0.1, 0.7, 0.1, 1);
}

