.statistic {
    width: 90%;
    padding: 20px;
    margin-top: 20px;
    gap: 20px;
}
.statistic__info {
    background-color:var(--mui-palette-primary-light);
    padding: 10px;
    border-radius: 10px;
}