.item-stat {
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    font-size: 24px
}
.item-green {
    background-color: var(--mui-palette-secondary-light);
}
.item-red {
    background-color: var(--mui-palette-secondary-dark);
}
.item-stat > p > span {
    color: white;
    font-size: 25px;
    font-weight: 700;
}