.betSelector {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}
.betSelector > button {
    width: 20%;
    padding: 5px 0px;
    background-color: var(--mui-palette-primary-light);
    border: 1px solid var(--mui-palette-secondary-main);
    border-radius: 5px;
    color: var(--mui-palette-text-main);
    font-size: 16px;
}

.active {
    background-color: var(--mui-palette-secondary-main) !important;
}