* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--mui-palette-text-primary);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    background-color: var(--mui-palette-primary-dark);
    font-family: "Poppins", sans-serif;
    font-size: 21px;
    color: white;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1920px) {
    .wrapper {
        width: 100%;
        font-size: 20px;
    }
}